In [5]:
def greet():
    print('hello')
    print('good morning')
## when we run the code we havent got any output

In [7]:
def greet():
    print('hello')
    print('good morning')
greet()
#if you need call multiple times

hello
good morning

In [9]:
def greet():
    print('hello')
    print('good morning')
greet() #if you need call multiple times 

def greet():
    print('hello')
    print('good morning')
greet() #if you need call multiple times

hello
good morning
hello
good morning

In [11]:
def greet():
    print('hello')
    print('good noon')
greet()

greet()

hello
good noon
hello
good noon

In [13]:
def greet():
    print('hello')
    print('good noon')
greet()

print()

greet()

hello
good noon

hello
good noon

In [15]:
def add(x,y):
    c=x+y
    print(c)  
add(5,6)

11

In [17]:
def add(x,y,z):
    c=x+y+z
    print(c)  
add(1,4,5)

10

In [19]:
def greet():
    print('hello')
    print('good noon')
greet()

def add(x,y):
    c=x+y
    print(c)
add(5,4)

hello
good noon
9

In [21]:
def greet():
    print('hello')
    print('good noon')
    
def add(x,y):
    c=x+y
    print(c)

def sub(x,y,z):
    d = x-y-z
    print(d)
    
greet()    
add(5,4)
sub(10,2,4)

hello
good noon
9
4

In [23]:
def greet():
    print('hello')
    print('good noon')
greet()

def add(x,y):
    c=x+y
    return c

result = add(5,4)
print(result)

hello
good noon
9

In [25]:
def greet():
    print('hello')
    print('good noon')

def add(x,y,z):
    c=x+y+z
    return c

greet()

result = add(5,4,3)
print(result)

hello
good noon
12

In [27]:
def add_sub(x,y): 
    c= x+y
    d= x-y
    return c, d
    
add_sub(4,5)

(9, -1)

In [29]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c, d
    
result = add_sub(4,5)

print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [31]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c, d

result1,result2 = add_sub(5,4)

print(result1,result2)

print(type(result1))
print(type(result2))

9 1
<class 'int'>
<class 'int'>

# Function Arguments

In [34]:
def update(): 
    x = 8
    print(x)
update()

8

In [36]:
def update(): #update function take the value from the user
    x = 8
    print(x)
update(8)

TypeError: update() takes 0 positional arguments but 1 was given

In [38]:
def update(x): #update function take the value from the user
    x = 8
    print(x)
    
update(100)

8

In [40]:
def update(x): # user want to update the value from 8 to 10 
    x = 8
    print(x)
    
update(10)

8

In [42]:
def update(x):  
    x = 8
    print(x)
    
a = 10
update(a)
print(a)

8
10

In [44]:
def update(x):  
    x = 8
    #print(x) 
    
a = 10
update(a)
print(a) # this print will update 8 to 5

10

Types of arguments
1.Formal
2.Actual

In [46]:
def add(a,b): # a & b called formal argument
    c = a+b
    print(c)
    
add(5,6) #5 and 6 we called as actual argument

11

In [48]:
def add(a,b,d): # a & b called formal argument
    c = a+b+d
    print(c)
    
add(5,6,7) #5 and 6 we called as actual argument

18

# Positional Argument

In [51]:
def person(name,age):
    print(name)
    print(age)
    
person('nit', 22)

nit
22

In [53]:
def person(name,age):
    print(name)
    print(age)
    
person(22,'nit')

22
nit

In [59]:
def person(name,age):
    print(name)
    print(age-5)
    
person(20,'nit')

20

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [57]:
def person(name,age):
    print(name)
    print(age-5)
    
person('nit',20)

nit
15

# Keywoed Argument

In [62]:
def person(name,age):
    print(name)
    print(age-5)
    
person(20,'nit')

20

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [64]:
def person(name,age):
    print(name)
    print(age-5)
    
person(age = 20, name = 'nit')

nit
15

In [66]:
def person(name, age):
    print(name)
    print(age)
    
person(age = 20,  name = 'nit')

nit
20

In [68]:
def person(name, age, age2):
    print(name)
    print(age)
    print(age2)
    
person(age = 20,  name = 'nit', age2 = 1)

nit
20
1

# Default Argument

In [71]:
def person(name): #in this code we expected to print 2 but we got bydefault 
    print(name)
    print(age)
    
person('nit')

nit

NameError: name 'age' is not defined

In [73]:
def person(name,age = 18): 
    print(name)
    print(age)
    
person('nit')

nit
18

In [75]:
def person(name,age = 18):  
    print(name)
    print(age)
    
person('nit',24)

nit
24

# Variable length Argument

In [78]:
def sum(a, b):
    c = a+b
    print(c)
    
sum(5,6)

11

In [80]:
def sum(a, b):
    c = a+b
    print(c)
    
sum(5,6,7,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [82]:
def sum(a, *b): # 1st argument is fixed but for 2nd argument
    c = a+b
    print(c)

sum(5,6,7,8)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [84]:
def sum(a, *b): # 1st argument is fixed but for 2nd argument
    #c = a+b
    print(type(a))
    print(type(b))

sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [86]:
def sum(a, *b): # 1st argument is fixed but for 2nd argument
    #c = a+b
    print(a)
    print(b)

sum(5,6,7,8)

5
(6, 7, 8)

In [88]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a     
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8)

26

In [90]:
def sum(a, *b): 
    
    c = a 
    for i in b:
        c = c + i 
    print(c)
    
sum(5,6,7,8)

26

In [92]:
def sum(a, *b): 
    
    c = 0
    
    for i in b:
        c = c + i 
    print(c)
    
sum(5,6,7,8)

21

In [94]:
def sum(a, *b): 
    
    c = 0
    for i in b:
        c = c + i 
    print(c)
    
sum(5,6,7,8,5)

26

# KWARGs(Keyword variable length arguments)

In [97]:
def person():
    person('ALEX', 36, 'JOHN', 987767)

In [99]:
def person(name,*data):
    print(name)
    print(data)

person('ALEX', 36, 'JOHN', 987767)

ALEX
(36, 'JOHN', 987767)

In [101]:
def person(name,*data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767)

TypeError: person() got an unexpected keyword argument 'age'

In [103]:
def person(name, **data):
    print(name)
    print(data)

person('mark', age = 36, home_place ='southcity', mob =987767)

mark
{'age': 36, 'home_place': 'southcity', 'mob': 987767}

In [105]:
def person(name,**data):
    print('name')
    print(data)

person('mark', age = 36, home_place ='southcity', mob =987767, edu='phd', actor = 'john')

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767, 'edu': 'phd', 'actor': 'john'}

In [107]:
def person(name, **data):
    print(name)
    
    for i, j in data.items():
        print(i, j)
        
person('john', age = 36, home_place ='southcity', mob =987767, place = 'USA')

john
age 36
home_place southcity
mob 987767
place USA

# Global variable Vs Local variable

-> Outside the function - Global variable
-> Inside the function - Local variable

In [110]:
a = 10
print(a)

10

In [112]:
a = 10   #globla variable 

def something():
    b = 15 #local variable
    print('in function',b)    
    print('out function',a)

In [114]:
a = 10  

def something():
    b = 15
    print('in function',b)    
    
print('out function',a)

out function 10

In [116]:
a = 10  

def something():
    a = 15
    
print('in function',a) 
  
print('out function',a)

in function 10
out function 10

In [126]:
a = 10  

def something():
    a = 15
    b = 8
    print(a)
    print(b)
print(a)

10

In [128]:
a = 10  

def something():
    a = 15  #hear a is local variable 
    print(a)
    
print(a)

10

In [130]:
a = 10  

def something():
    a = 15
    print('in function',a)
    
print('out function',a)

out function 10

In [132]:
a = 10  

def something():
    b = 15
    print('in function',b)  # local variable
 
something()

print('out function',a)

in function 15
out function 10

In [134]:
a = 10  

def something():
    print('in function',a)
    
something()
print('out function',a)

in function 10
out function 10

In [136]:
a = 10  

def something():
    b= 25
    print('in function',b)
    
something()
print('out function',a)

in function 25
out function 10

In [138]:
a = 10  

def something():
    a = 55
    print('in function',a)
something()

print('out function',a)

in function 55
out function 10

In [140]:
a = 10  

def something():
    global a 
    b = 15
    print('in function',b)
    print('gloabl variable', a)
    
something()
print('out function',a)

in function 15
gloabl variable 10
out function 10

In [142]:
a = 20  

def something():
    global a
    a = 15     
    print('in function',a)
    
    a = 9
something()

print('out function',a)

in function 15
out function 9

In [144]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [146]:

a = 10  
print(id(a))

def something():
    a = 9
    x = globals()['a']
    
    print(id(x))
    print('in function',a)
    
        
something()
print('out function',a)

140735419595480
140735419595480
in function 9
out function 10

In [148]:
a = 10 
print(id(a))

def something():
    a = 9
    x = globals() # if i dont mention a then it will creat new memory
    
    print(id(x))
    print('in function',a)
    
    globals()['a'] = 15
    
        
something()
print('out function',a)

140735419595480
1786473870592
in function 9
out function 15

# Global variable
- The global keyword is used inside a funtion to indicate that a variable refers to a global ,not a local one

In [152]:
x = 10  # Global variable

def update_x():
    global x 
    x += 5    

update_x()
print(x)

15

# Globals
Globals() is a built-in function that returns a dictionary representing the current global symbol table.It allows you to access and modify global variables programming

In [157]:
x = 10 

def update_x():
    globals()['x'] += 5

update_x()
print(x)

15